html {
    -webkit-font-smoothing: antialiased;
    width: 100vw;
    overflow-x: hidden;
}

body {
    background-color: #f1f1f1;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(250,960,440)'%3E%3Cstop offset='0' stop-color='%23f1f1f1'/%3E%3Cstop offset='1' stop-color='%23faf3b1'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='555' height='462.5' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.03'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

.rev_slider_wrapper {
    font-family: Hind, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 2;
    color: #141414;
    overflow-x: hidden;
    padding-right: 0 !important;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    cursor: pointer;
    background: #67d5b5;
}

.loader {
    position: fixed;
    overflow: hidden;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #141414;
    color: #fff;
    text-align: center;
}

.loader-brand {
    position: absolute;
    left: 0;
    width: 100%;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.loader-brand img {
    max-width: 90%;
    background: #90c5df;
}

.layout {
    overflow: hidden;
}

.rel-1 {
    position: relative;
    z-index: 1;
}

.section3__text_color {
    color: #fd1212;
}

.navi__title {
    font-family: 'Montserrat Alternates', sans-serif;
    color: #ff0000;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 5px;
    text-indent: 4px;
    text-decoration: underline;
}

.navi__title:hover {
    color: #0045ff;
}

.navi__burger {
    background-color: #ff0000;
}

.footer_svg {
    width: 150%;
    height: 150%;
    transform: translate3d(0px, 0px, 0px);
    left: 1px;
    padding-left: 0px;
    padding-right: 295px;
}

.footer__grid {
}

.footer__grid {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: minmax(100px, auto) minmax(100px, auto);
    grid-template-areas: 'SVG social social' 'SVG copyright copyright';
}

.footer__grid_svg {
    grid-area: 1 / 1 / 3 / 2;
}

.footer__grid_copyrightText {
    grid-area: 2 / 2 / 3 / 4;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: #ff0000;
    letter-spacing: 1px;
    font-weight: 700;
}

.footer__copyright_svg {
}

@media (min-width:576px) {
    .footer__grid_social {
        grid-area: 1 / 2 / 2 / 4;
        align-items: center;
        justify-content: center;
        text-indent: 10px;
    }
}

.footer__grid_p {
    color: #ff0000;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 24px;
}

.footer__grid_p {
    color: #ff0000;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 24px;
}

.footer__grid_svgPic {
    width: 100%;
    height: 100%;
    transform: translate3d(0px, 0px, 0px);
}

@media (max-width:575px) {
    .footer__grid_social {
        position: absolute;
        left: 109px;
    }

    .footer__grid_svg {
        width: 156%;
        height: 100%;
        transform: translate3d(0px, 0px, 0px);
    }

    .footer__grid_copyrightText {
        font-family: 'Montserrat', sans-serif;
        font-size: 23px;
        grid-column: 1;
        padding-top: 92px;
        grid-area: text;
    }

    .footer__grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: minmax(100px, auto) [content-end] minmax(300px, 1fr);
        grid-template-areas: 'svg social' 'text text';
    }
}

.footer__svg_icon:hover {
    width: 30px;
    height: 30px;
    color: #000cff;
}

.footer__svg_icon {
    width: 30px;
    height: 30px;
}

.sectionAbout__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: auto minmax(100px, 1fr) minmax(100px, auto) auto;
    background-image: url('img/SectionThree_backg.png');
}

.sectionAbout__mainText {
    grid-area: 2 / 2 / 3 / 3;
    width: 400px;
    height: 131px;
    color: #00fffc;
    font-family: Roboto;
    font-size: 40px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 50px;
    text-align: left;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}

.sectionAbout__grid img {
    grid-area: 2 / 3 / 4 / 4;
    width: 556px;
    height: 418px;
    box-shadow: 37 28 84px rgba(2, 156, 174, 0.78);
}

.sectionAbout__grid_Eclipse {
    grid-area: 1 / 2 / 2 / 3;
    object-fit: cover;
    width: 22px;
    height: 22px;
    border: 6px solid #ffffff;
}

.sectionAbout__grid_ellipse {
    width: 110px;
    height: 110px;
    opacity: 0.6;
    grid-area: 1 / 3 / 2 / 4;
}

.sectionAbout__secondGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: minmax(100px, 1fr) 100px 100px;
    top: -15px;
    grid-template-areas: 'image image image' '. . .' '. . .';
}

.sectionTwo {
    display: grid;
    grid-template-columns: [backgroundFirst-start] 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr [backgroundFirst-end];
    grid-template-rows: [backgroundFirst-start] 100px 100px 100px 100px [backgroundSecond-start] 79px [backgroundFirst-end] 100px 100px 100px 100px 100px [backgroundSecond-end] 100px 100px 100px 100px 100px 140px 100px 100px;
    grid-template-areas: '. . firstlittleellipse . . . . . . BigEllipse . .' '. . firstSectionText firstSectionText firstSectionText firstSectionText shoesImg shoesImg shoesImg shoesImg . .' '. . firstSectionText firstSectionText firstSectionText firstSectionText shoesImg shoesImg shoesImg shoesImg . .' '. . button button . secondlittleellipse shoesImg shoesImg shoesImg shoesImg . .' '. . . oneMoreBigEllipse . . . . . . . .' '. . . secondShoesImg secondShoesImg secondShoesImg secondShoesImg secondShoesImg secondShoesImg . . .' '. . . secondShoesImg secondShoesImg secondShoesImg secondShoesImg secondShoesImg secondShoesImg . . .' '. . . secondShoesImg secondShoesImg secondShoesImg secondShoesImg secondShoesImg secondShoesImg . . .' '. . . secondShoesImg secondShoesImg secondShoesImg secondShoesImg secondShoesImg secondShoesImg . . .' '. . . . . . . . . . . .' '. . . . . . . . . . . .' '. . . . . . . . . . . .' '. . . . . . . . . . . .' '. . . . . . . . . . . .' '. . . . . . . . . . . .' '. . . . . . . . . . . .' '. . . . . . . . . . . .' '. . . . . . . . . . . .';
}

.sectionTwo_background {
    width: 100%;
    height: 100%;
    grid-area: backgroundFirst;
}

.sectionTwo__backgroundContainer {
    width: 100%;
    height: 100%;
    grid-area: backgroundFirst;
}

.sectionTwo__backgroundContainer_img {
    width: 100%;
    height: 100%;
}

.sectionTwo__secondbackgroundContainer {
    grid-area: backgroundSecond / backgroundFirst / backgroundSecond / backgroundFirst;
    width: 100%;
    height: 100%;
}

.backimageforsecondpart {
    width: 100%;
    height: 100%;
    grid-area: thirdbackpart;
    object-fit: fill;
    z-index: 1;
    position: relative;
}

.thirdbackgroundpart {
    grid-area: 9 / backgroundFirst / 14 / 5;
    width: 100%;
    height: 100%;
}

.secondpartforthirdsectionaboutme {
    grid-area: 9 / 3 / 14 / backgroundFirst;
}

.aboutmelastpartsection {
    width: 100%;
    height: 100%;
    grid-area: 12 / backgroundFirst / 19 / backgroundFirst;
}

.aboutmeimgshoes {
    height: 100%;
    z-index: 1;
    position: relative;
}

.aboutmecontainerforshoesimg {
    width: 100%;
    height: 100%;
    grid-area: shoesImg;
}

.aboutmerazerimg {
}

.aboutmefirstsectiontext {
    width: 400px;
    height: 131px;
    color: #00fffc;
    font-family: Roboto;
    font-size: 40px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 50px;
    text-align: left;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}

.firstsectionbigellipse {
    width: 110px;
    height: 110px;
    opacity: 0.4;
    object-position: -28px;
    grid-area: oneMoreBigEllipse;
}

.bigellipseinaboutproduct {
    grid-area: BigEllipse;
}

.onemorebigellipseonpage {
    width: 100%;
    height: 100%;
    opacity: 0.5;
    object-position: 16px;
    object-fit: cover;
}

.onemoreellipse {
    grid-area: oneMoreBigEllipse;
}

.buttononpdoructpagefirstsection:hover {
    width: 200px;
    height: 50px;
    box-shadow: 0 10px 30px rgba(20, 108, 113, 0.15), inset 0 0 2px rgba(255, 255, 255, 0.3);
    border-radius: 25px;
    background-color: #4cf9ff;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
}

.buttononpdoructpagefirstsection {
    width: 200px;
    height: 50px;
    box-shadow: 0 10px 30px rgba(20, 108, 113, 0.15), inset 0 0 2px rgba(255, 255, 255, 0.3);
    border-radius: 25px;
    background-color: #00ecf4;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    cursor: default;
    position: relative;
    z-index: 5;
}

.divbuttononaboutproductbuy {
    grid-area: button;
}

.littleellipseonproduct {
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

.firstellipsecontainer {
    grid-area: firstlittleellipse;
}

.secondellipsecontainer {
    grid-area: secondlittleellipse;
}

.thirdellipsecontainer {
    grid-area: 2 / 7 / 3 / 8;
}

.aboutproductsecondsectionshoesimg {
    grid-area: secondShoesImg;
    position: relative;
    z-index: 2;
}

.aboutproductsecondshoesimg {
    height: 100%;
    position: relative;
    z-index: 1;
}

.knittingtoshoesfirst {
    grid-area: 7 / 4 / 8 / 6;
}

.knittingtoshoesfirstimg {
    z-index: 1;
    position: relative;
    width: 100%;
    height: 100%;
}

.knittingshoessecond {
    grid-area: 7 / 7 / 8 / 9;
}

.knittingshoessecondimg {
    width: 100%;
    height: 100%;
    z-index: 1;
    position: relative;
}

.knittingshoesthird {
    grid-area: 7 / 9 / 9 / 11;
}

.knittingshoesthirdimg {
    width: 100%;
    height: 100%;
    z-index: 1;
    position: relative;
}

.aboutproductafterknittingtext {
    z-index: 1;
    color: #fbfd83;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    position: relative;
    text-indent: -46px;
}

.pointercontainerknittingfirst {
    grid-area: 6 / 3 / 7 / 5;
    align-self: end;
}

.pointercontainerknittingsecond {
    grid-area: 6 / 8 / 7 / 10;
    align-self: end;
}

.pointercontainerknittingthird {
    grid-area: 6 / 10 / 7 / 12;
    align-self: end;
}

.knittinglinetotextsecondimg {
    width: 100%;
    height: 100%;
    z-index: 1;
    position: relative;
}

.containerfortitleinaboutproduct {
    grid-area: 2 / backgroundFirst / 4 / backgroundFirst;
}

.bubblesimgaboutproduct {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    opacity: 0.2;
}

.bubblesimgcontainerfirst {
    grid-area: 8 / 2 / 9 / 3;
}

.bubblesimgcontainersecond {
    grid-area: 9 / 3 / 10 / 4;
}

.bubblesimgcontainerthird {
    grid-area: 7 / 9 / 8 / 10;
}

.bubblesimgcontainerfour {
    grid-area: 8 / 11 / 9 / 12;
}

.bubblesimgcontainerfive {
    grid-area: 6 / 2 / 7 / 3;
}

.titileaboutproductfirstsectionzaikova {
}

.aboutproductthirdse {
    z-index: 1;
    grid-area: 10 / 2 / 13 / 8;
}

.aboutproducttitlein3part {
    color: #263238;
    font-family: Roboto;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: normal;
    line-height: 50px;
    text-align: center;
    font-style: normal;
}

.textaboutproductin3rdpart {
    color: #263238;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: 23px;
    text-align: center;
}

.containeraboutproductpart3titile {
    grid-area: 10 / 9 / backgroundSecond / 12;
}

.containeraboutproducttext {
    grid-area: 11 / 9 / 12 / 12;
}

.containerforimgaboutproductlastsection {
    grid-area: 14 / 4 / 17 / 10;
}

.containerforimagelinesovershoes {
    grid-area: 15 / 3 / 16 / 11;
}

.containerforstartinlastsectioaboutproduct {
    grid-area: 17 / 9 / 18 / 12;
}

.starticonforotzyvy {
    width: 16px;
    height: 16px;
    color: #6a90bc;
    font-size: 20px;
    letter-spacing: normal;
    text-align: center;
}

.starticonforotzyvy {
    z-index: 1;
    position: relative;
}

.containerforstartinsideicons {
    display: flex;
    height: 30px;
    align-items: center;
    justify-content: space-evenly;
    margin-top: -75px;
}

.textreviewsinaboutproductsection:hover {
    color: #135bad;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    line-height: 25px;
    text-align: right;
    padding-right: 23px;
    margin-top: -13px;
}

.textreviewsinaboutproductsection {
    color: #6a90bc;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    line-height: 25px;
    text-align: right;
    padding-right: 23px;
    margin-top: -13px;
}

.containerfortextinaboutproductsectioninlastpart {
    grid-area: 18 / 9 / 19 / 12;
    align-self: start;
}

.SellProductSection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 2fr 1fr;
    grid-template-rows: 100px 100px 100px 100px 100px 100px 100px;
}

.sellingSectionContainerForSliders {
    grid-area: 3 / 2 / 6 / 6;
}

.sellingSectionContainerForAllSliders {
    display: none;
}

.sellingsectionTitleText {
    color: #333333;
    font-size: 25px;
    font-weight: 400;
    line-height: 90px;
    text-align: left;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: 0.63px;
    line-height: normal;
}

.sellingSectiontext {
    color: #333333;
    font-family: "DIN Next LT Pro - Medium Cond";
    font-size: 35px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24px;
    text-align: left;
    text-transform: uppercase;

    /* Text style for "AIR MAX TA" */
    font-style: normal;
    letter-spacing: 0.88px;
    line-height: normal;
}

.sectionsellingtitle {
    color: #333333;
    font-family: "DIN Next LT Pro - Medium Cond";
    font-size: 25px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: normal;
    line-height: 75px;
    text-align: left;
    text-transform: uppercase;
    padding-top: 24px;
}

.sellingSectionText {
    color: #333333;
    font-family: "DIN Next LT Pro - Medium Cond";
    font-size: 35px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: normal;
    line-height: 32px;
    text-align: left;
    text-transform: uppercase;
    padding-top: 0px;
    margin-top: 11px;
}

.sellingSectionPriceText {
    color: #666666;
    font-family: "DIN Next LT Pro - Medium Cond";
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 1px;
    line-height: 82px;
    text-align: left;
    text-indent: 4px;
    margin-top: -21px;
}

.sellingSectionTextaboutchoosecolor {
    /* Style for "Size chart" */
    color: #666666;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: 35px;
    text-align: left;
    text-indent: 4px;
    margin-top: -38px;
}

.sellingsectionsbuttons {
    width: 125px;
    height: 50px;
    color: #666666;
    font-family: "DIN Next LT Pro - Medium Cond";
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    text-transform: none;
    letter-spacing: 1px;
}

.containersellingsectionfortitle {
    grid-area: 2 / 7 / 3 / 9;
}

.containersellingsectionfortext {
    grid-area: 3 / 7 / 4 / 9;
}

.containersellingsectionforprice {
    grid-area: 4 / 7 / 5 / 9;
    margin-top: -48px;
}

.containersellingsectionforbuttonchoosecolor {
    grid-area: 4 / 7 / 6 / 8;
    display: flex;
    align-items: flex-end;
}

.containersellingsectionforbuttonbuy {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    grid-area: 4 / 7 / 6 / 8;
}

.buttonforchoosecolor {
    background: #007ffa;
    border: none;
    border-radius: 25px;
    width: 50px;
    height: 50px;
}

.buttonforchoosecolorYellow {
    background-color: #f5ff00;
}

.buttonforchoosecolorRed {
    background-color: #ff0000;
}

.buttonforchoosecolorBlack {
    background-color: #000000;
}

.buttonsinmodalcolorsmainclass {
    background: #007ffa;
    border: none;
    border-radius: 25px;
    width: 50px;
    height: 50px;
}

.buttonsmodalcolorpickermainclass {
    background: #007ffa;
    border: none;
    border-radius: 25px;
    width: 50px;
    height: 50px;
}

.buttonsmodalcolorpickermainclass_red {
    background-color: #ff0000;
}

.buttonsmodalcolorpickermainclass_yellow {
    background-color: #ffe400;
}

.buttonsmodalcolorpickermainclass_yellow {
}

.containerArrowDirtyBoots {
    width: 100%;
    height: 100%;
    grid-area: 6 / 4 / 7 / 5;
    top: 55px;
    left: 95px;
    position: relative;
}

.arrowDirtyBoots {
    width: 50%;
    height: 50%;
    color: #0045ff;
}

.containerImgDirtyBoots {
    grid-area: 2 / 6 / 7 / 11;
}

.INcontainerImgDirtyBoots {
    width: 100%;
    height: 100%;
}

.containerTitleClean {
    grid-area: 2 / 2 / 3 / 5;
    align-self: start;
}

.INcontainerTitleClean {
    color: #444343;
    font-family: "Fjalla One";
    font-size: 33px;
    font-weight: 500;
    font-style: normal;
    line-height: 60px;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
}

.containerTextFirstClean {
    grid-area: 4 / 2 / 5 / 5;
}

.INcontainerTextFirstClean {
    color: #5e656a;
    font-family: Lato;
    font-size: 17px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
}

.containerTextSecondClean {
    grid-area: 6 / 2 / 7 / 5;
    padding-top: 0px;
    margin-top: -31px;
    align-self: end;
}

.INcontainerTextSecondClean {
    color: #5e656a;
    font-family: Lato;
    font-size: 17px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    line-height: normal;
}

.INcontainerWavesImg {
    width: 100%;
    height: 100%;
}

.containerButtonForClean {
    grid-area: 6 / 4 / 7 / 5;
    align-self: end;
}

.INcontainerButtonForClean {
    background-color: #0068c1;
    color: #ffffff;
    border-radius: 36px;
    border-width: 1px;
    border-color: #0482ff;
}

.containerCleanBootsIMGNotVisible {
    grid-area: 2 / 6 / 7 / 11;
}

.INcontainerCleanBootsIMGNotVisible {
    width: 100%;
    height: 100%;
    display: none;
}

.containerForStartinTestimonials {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px;
    grid-area: 2 / 4 / 3 / 5;
}

.GridContainerCleaningShoes {
    display: grid;
    grid-template-columns: 75px 1fr 1fr 2fr 40px 1fr 1fr 1fr 1fr 1fr 50px;
    grid-template-rows: 100px 100px 52px 100px 100px 100px 100px 100px;
}

.FLEXcontainerforSizeAdvice {
}

.RowForTitleInSizeAdvise {
}

.ContainerWavesImg {
    grid-area: 5 / 2 / 6 / 5;
}

.wavesimginDVIZE {
    height: 50%;
    position: relative;
    z-index: -1;
    margin-bottom: 66px;
    margin-top: 51px;
}

.aboutme {
}

.divaboutme {
    width: 100%;
    height: 100%;
}

.mystory {
    grid-area: 1 / 2 / 2 / 3;
    width: 100%;
    height: 100%;
    display: inline-block;
    padding-top: 20px;
}

.titleaboutme {
    grid-area: 1 / 2 / 2 / 3;
    width: 100%;
    height: 100%;
}

.myphoto {
    height: 100%;
    margin-left: auto;
    border: 2px solid #0dcaf0 !important;
}

.icons {
}

.threeicons {
    margin-bottom: 40px;
}

.delivery {
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 1;
}

.backgroundicon {
    grid-area: 1 / 2 / 3 / 3;
    background-color: #51c4d6;
    position: relative;
    z-index: 0;
}

.handmadeicon {
    height: 100%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.iconinst {
    height: 100%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.textdelivery {
    grid-area: 2 / 2 / 3 / 3;
    position: relative;
    text-align: center;
    line-height: 23px;
    font-size: 26px;
    font-family: 'Montserrat Alternates', sans-serif;
    padding-top: 10px;
}

.texthandmade {
}

.textinst {
    position: relative;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 26px;
}

.INtitletextsizing {
    color: #444343;
    font-family: "Fjalla One";
    font-size: 33px;
    font-weight: 500;
    font-style: normal;
    line-height: 60px;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
    text-align: center;
}

.INtitledeliverytext {
    color: #444343;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 500;
    font-style: normal;
    line-height: 60px;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
    text-indent: 25px;
}

.INdotsintitlledelivery {
}

.ROWfordeliveryimgs {
    height: 750px;
}

.star {
}

span a {
    font-size: 42px;
    color: pink;
    text-decoration: none;
    margin: 0 10px;
    transition: all 0.4s ease-in-out;

    &:hover {
        color: #ffffff;
    }
}

@keyframes float {
    0% {
        box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
        transform: translatey(0px);
    }

    50% {
        box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
        transform: translatey(-20px);
    }

    100% {
        box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
        transform: translatey(0px);
    }
}

.avatar {
    width: 120px;
    height: 120px;
    box-sizing: border-box;
    border: 3px white solid;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
    animation: float 6s ease-in-out infinite;
}

.lines {
    margin-top: 35px;
    margin-left: -5px;
}

.imgLogo {
    width: 5em;
}

.buttonCleaning {
    width: 200px;
    height: 50px;
    box-shadow: 0 10px 30px rgba(20, 108, 113, 0.15), inset 0 0 2px rgba(255, 255, 255, 0.3);
    border-radius: 25px;
    color: #ffffff;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    cursor: default;
    position: relative;
    z-index: 5;
    background: linear-gradient(90deg, #5433FF, #20BDFF, #A5FECB);
    font-family: 'Montserrat Alternates', sans-serif;
}

.textinsellpagegrey {
    opacity: 0.7;
    font-family: 'Montserrat Alternates', sans-serif;
    color: #00000;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1.4px;
}

.selltextonsellpage {
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 2.8px;
    color: #0101ee;
    font-family: 'Montserrat Alternates', sans-serif;
}

.textsellonsellsectiontitle {
    font-family: 'Montserrat', sans-serif;
    color: #00000;
    font-size: 28px;
    letter-spacing: 2.24px;
    font-weight: 400;
}

.buttonsforSalepage {
    background: #007ffa;
    color: white;
    border: none;
    border-radius: 25px;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.buttonsforSalepagegolubayanezh {
    background-color: #aaecee;
}

.buttonsforSalepageJeans {
    background-color: #6a90bc;
}

.buttonsforSalepagegrafit {
    background-color: #7e7978;
}

.buttonsforSalepageneoncorall {
    background-color: #f7636f;
}

.buttonsforSalepagekrasniy {
    background-color: #d9332f;
}

.buttonsforSalepagechairoza {
    background-color: #faf3b1;
}

.buttonsforSalepagegolnezh {
    background-color: #aaecee;
}

.buttonsforSalepagebezh {
    background-color: #dcd1c5;
}
}




